# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment directories
venv/
env/
.venv/
.env/

# IDE and editor specific files
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Other
.DS_Store
